.login{
  font-family: 'Oswald', sans-serif;
  /* padding-top: 150px; */
  /* width: 100vw;
  height: 100vh;
  background-color: #000; */
}

.logo{
  width: 150px;
  margin-bottom: 50px;
}

form{
  font-size: 1.2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input{
  margin-bottom: 10px;
}

input{
  background-color: #000;
  width: 300px;
  padding: 5px 20px;
  color: #fff;
}
input:focus{
  border-left: 15px solid #EE4673;
}

.btn{
  margin-top: 50px;
  padding: 4px 25px;
  width: 300px;

  background-color: #EE4673;
  color: #fff;

  border: none;
  border-radius: 10px;

  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 2px;
}

.btn:hover{
  background-color: #fff;
  color: #EE4673;
  transition: 1s;
}

.anchor{
  margin: 25px 0px;
}

.anchor a{
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  
  color: #fff;
}

.anchor a:hover{
  color: #EE4673;
}

hr{
  background-color: #555;
  width: 300px;
}