.signup {
	font-family: 'Oswald', sans-serif;
}

.logo {
	width: 150px;
	margin-bottom: 10px;
}

form {
	font-size: 1.2rem;
}

.signup__container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.input {
	margin-bottom: 10px;
}

.inp {
	background-color: #000;
	width: 400px;
	padding: 5px 20px;
	color: #fff;
}

.inp:focus {
	border-left: 15px solid #d9a404;
	letter-spacing: 2px;
}

.btn{
	margin-top: 20px;
	padding: 4px 25px;
	width: 300px;

	background-color: #d9a404;
	color: #fff;

	border: none;
	border-radius: 10px;

	text-transform: capitalize;
	font-size: 1.2rem;
	font-weight: 500;
	letter-spacing: 2px;
}

.btn:hover{
	background-color: #fff;
	color: #d9a404;
	transition: 0.6s;
}

.anchor {
	margin: 20px 0px;
}

.anchor a {
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 2px;

	color: #fff;
}

.anchor a:hover {
	color: #d9a404;
}

hr {
	background-color: #555;
	width: 300px;
}

.Error {
	margin: auto;
	text-align: center;
	color: red;
	font-size: 1.5rem;
}

/* _____________________________________________________________ */
.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 60%;
	background-color: #333;

	padding: 4rem;
	border-radius: 25px;

	z-index: 10;

	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.close_modal {
	position: absolute;
	top: 0;
	right: 2rem;
	font-size: 5rem;
	color: #000;
	cursor: pointer;
	border: none;
	background: none;
}

.close_modal:focus{
	outline: none;
}

.modal_title{
	color: #d9a404;
	margin-bottom: 20px;
	font-style: italic;
	text-decoration: underline;
	text-transform: capitalize;
}

.modal input{
	width: 35vw;
	border-radius: 12px;
	background-color: #000;
}
.modal input:focus{
	outline: none;
}

.okBtn {
	position: absolute;
	bottom: 1rem;
	right: 1.5rem;

	border: none;
	outline: none;
	background-color: #d9a404;
	border-radius: 10px;
	padding: 5px 15px;
	text-transform: uppercase;
	font-family: Montserrat, "sans-serif";

	transition: 0.4s;
	cursor: pointer;
}

.okBtn:hover {
	background-color: #333;
	color: #d9a404;
}

.data_entry{
	color: #d9a404;
	font-size: 1.5rem;
	text-decoration: underline;
	cursor: pointer;
}

.gender{
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	margin-block: 5px;
	margin-bottom: 10px;
	color: #d9a404;
	font-size: 1.5rem;
}

.gender span{
	margin-right: 30px;
}

input[type="radio"]{
	width: 50px;
}
