/* body{
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #665e46), to(#FBE39A));
  background: linear-gradient(#665e46 5%, #FBE39A);
} */

/* ********************************** Start Profile **********************************/
.profile {
	padding-top: 260px;

	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #665e46), to(#fbe39a));
	background: linear-gradient(#665e46 5%, #fbe39a);
}

.line {
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%);
	transform: translate(-50%);
}

.circle {
	width: 250px;
	height: 250px;
	background-color: #72694d;
	border: 4px solid #d9a404;
	border-radius: 50%;
	position: relative;
	left: 50%;
	top: -163px;
	-webkit-transform: translate(-50%, 0px);
	transform: translate(-50%, 0px);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.profile_img {
	border-radius: 50%;
	width: 220px;
	height: 220px;
}

.add_img {
	position: absolute;
	left: 204px;
	top: 178px;
}

.info {
	position: relative;
	top: -161px;
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.info h4 {
	font-family: Montserrat, "sans-serif";
	font-size: 1.6rem;
	text-transform: capitalize;
	letter-spacing: 2px;
	font-weight: 600;
	padding: 8px 0px;
}

.details {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	align-items: center;
	font-family: Oswald, "sans-serif";
	transform: translateY(54%);
}

.details div:not(:last-child, :nth-last-child(2)) {
	margin-right: 30px;
	padding-right: 20px;
	font-size: 1.1rem;
	border-right: 2px solid #d9a404;
	text-align: center;
}

.details div span {
	color: #d9a404;
	font-size: 1.3rem;
	letter-spacing: 1px;
	text-transform: capitalize;
}
/* _________________________________START UPDATE BUTTON ____________________________*/
.updateBtn {
	border: none;
	outline: none;
	background-color: #ee4673;
	border-radius: 15px;
	padding: 5px 15px;
	text-transform: uppercase;
	font-family: Montserrat, "sans-serif";
}

.updateBtn:hover {
	border: 2px solid #000;
}

.modal {
	position: absolute;
	top: 5%;
	left: 50%;
	transform: translate(-50%, -60%);
	width: 60vw;
	height: 70vh;

	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 5px;
	z-index: 10;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.closeBtn {
	position: absolute;
	top: -1.5rem;
	right: 1.5rem;
	font-size: 5rem;
	color: #ee4673;
	cursor: pointer;
	border: none;
	background: none;
}

.nextBtn,
.backBtn {
	position: absolute;
	bottom: 1rem;
	right: 1.5rem;

	border: none;
	outline: none;
	background-color: #ee4673;
	border-radius: 10px;
	padding: 5px 15px;
	text-transform: uppercase;
	font-family: Montserrat, "sans-serif";

	transition: 0.4s;
	cursor: pointer;
}

.backBtn {
	position: absolute;
	left: 1.5rem;
}

.nextBtn:hover,
.backBtn:hover {
	background-color: #000;
	color: #ee4673;
}

.hidden {
	display: none;
}

@media (max-width: 800px) {
	.modal {
		width: 100vw;
		height: 100vh;
	}
}

.question {
	margin-top: 50px;
}
.answer {
	margin: 30px;
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.answer button {
	margin: 10px 0px;
	border: none;
	outline: none;
	background-color: transparent;
	color: #fff;
	border: 2px solid #d9a404;
	border-radius: 20px;
	padding: 5px;
	text-transform: capitalize;
	font-size: 1.2rem;
}
.answer button:hover {
	background-color: #d9a404;
	color: #000;
}
/* _________________________________End UPDATE BUTTON ____________________________*/
hr {
	border: 3px solid #000;
	width: 100%;
}

.Images__heading {
	margin-bottom: 20px;
}

.Images__info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.Images__photo {
	margin-right: 50px;
	/* border: 2px solid #a53352;
  padding: 5px; */
}

.Images__photo img {
	display: block;
	width: 250px;
	height: 340px;

	border: 2px solid #a53352;
	padding: 10px;
}

.Images__btns {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}

.Images__btns button {
	width: 100px;
	background-color: #181303;
	color: #d9a404;
	border: none;
	margin-right: 10px;
	margin-bottom: 10px;
}

.Images__btns button:focus {
	outline: none;
}

.Images__update {
	margin-top: auto;
	display: block;
	margin-left: auto;
	margin-right: 65px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: 1s;
}

.Images__update:hover {
	background-color: #fff;
	color: #181303;
}
/*# sourceMappingURL=Profile.module.css.map */

.cards {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-bottom: 30px;
}

.card_container {
	width: 300px;
	height: 400px;
	background: #fff;
	border-radius: 6px;
	-webkit-box-shadow: 0px 1px 10px 1px #000;
	box-shadow: 0px 1px 10px 1px #000;
	overflow: hidden;
	display: inline-block;
	margin-top: 20px;
	background: linear-gradient(to top, #fff, #d9a404a2 100%);
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.card_container:hover {
	transform: translateY(-5px);
	-webkit-transform: translateY(-5px);
	-moz-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	-o-transform: translateY(-5px);
}
/*
.upper_container {
	height: 120px;
	background: linear-gradient(to top, #d9a4042d, #d9a404a2); 
}
*/

.image_container {
	background: white;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	-webkit-transform: translate(95px, 55px);
	transform: translate(95px, 55px);
}

.image_container img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.lower_container {
	height: 280px;
	padding: 20px;
	padding-top: 50px;
	text-align: center;
	font-size: 1.2rem;
	font-family: "Oswald", sans-serif;
}

.lower_container h3 {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 0.6;
	font-weight: lighter;
	font-family: "Montserrat", sans-serif;
	margin-top: 5px;
	margin-bottom: 30px;
}
/* .weight {
	display: flex;
	justify-content: center;
	flex-direction: column;
} */
.lower_container h4 {
	color: #a53351b4;
	font-weight: bold;
	font-size: 1.2rem;
	margin: 10px 10px;
	letter-spacing: 1.5px;
}
.lower_container h4 span {
	color: #8d6a01;
}

.points {
	font-size: 1.2rem;
	color: #fff;
	background-color: #333;
	border-radius: 20px;
	padding: 5px;
	width: 170px;
	text-align: center;
	margin: 20px auto;
	font-family: "Montserrat", sans-serif;
	letter-spacing: 1.5px;
}

.lower_container .btn {
	padding: 12px 20px;
	background-color: #a53351b4;
	border: none;
	color: white;
	border-radius: 30px;
	font-size: 0.8rem;
	text-decoration: none;
	font-weight: bold;
	-webkit-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	font-family: "Montserrat", sans-serif;
	letter-spacing: 2px;
}

.lower_container .btn:hover {
	background: transparent;
	color: #a53351b4;
	border: 2px solid #d9a4047c;
}

/* ********************************** End Profile **********************************/

/* start table */
.table {
	width: 100%;
	border-collapse: collapse;
	border: 2px solid #e5b831;
}

.table td,
.table th {
	padding: 12px 15px;
	text-align: center;
	font-size: 1rem;
	border: 1px solid #e5b831;
}

.table th,
.table td:first-child {
	background-color: #000;
	color: #e5b831;
	text-transform: capitalize;
}

.table td[data-label]:hover {
	background-color: #e5b831;
	cursor: pointer;
	font-weight: bold;
	transition: 0.6s;
}

/* Responsive  */

@media (max-width: 500px) {
	.table {
		border: none;
	}

	.table thead {
		display: none;
	}

	.table,
	.table tbody,
	.table tr,
	.table td {
		display: block;
		width: 100%;
	}

	.table tr {
		margin-bottom: 15px;
	}

	.table td {
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}

	.table td::before {
		content: attr(data-label);
		position: absolute;
		left: 0;
		width: 50%;
		padding-left: 15px;
		font-size: 15px;
		font-weight: bold;
		text-align: left;
	}

	.table td:first-child {
		padding-left: 0;
		text-align: center;
	}
}
/* ____________________________________________________*/

.Alert {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.additions {
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
	color: white;
	padding: 20px;
	padding: 30px;
}
.additions button {
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.additions button:hover {
	background-color: #fff;
	color: #000;
}

/* __________________________________________________ */

.myFood {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.myfood__name,
.myfood__cal {
	font-family: "Oswald", sans-serif;
	letter-spacing: 1.5px;
	color: #a53352;
	font-size: 1.5rem;
	margin-bottom: 15px;
}

.myFood button {
	border: none;
	background-color: #ee4673;
	color: #fff;
	padding: 15px;
	margin-right: 6px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.myFood button:hover {
	background-color: #fff;
	color: #ee4673;
}
.myFood button:focus {
	outline: none;
}

.cal_num {
	border: 2px solid #ee4673;
	padding: 2px 10px;
	margin-left: 50px;
	border-radius: 20px;
}
hr {
	display: block;
	border: 2px solid #fff;
	width: 80%;
	margin: 15px auto;
}
.newFood {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.newFood__name,
.newFood__cal {
	font-family: "Oswald", sans-serif;
	letter-spacing: 1.5px;
	color: #d9a404;
	font-size: 1.5rem;
	margin-bottom: 15px;
}
.newFood_cal_num {
	border: 2px solid #d9a404;
	padding: 2px 10px;
	margin-left: 50px;
	border-radius: 20px;
}

/* end table */
/* pagination color */
/* .MuiPaginationItem-textPrimary{
 
} */

.MuiPaginationItem-textPrimary.Mui-selected {
	color: #fff;
	background: linear-gradient(#665e46 100%, #fbe39a);
}
.MuiPaginationItem-textPrimary.Mui-selected:hover {
	color: #fff;
	background: linear-gradient(#665e46 120%, #fbe39a);
}
