.chart_content {
  padding-left: 50px;
}

.charts h3 {
  display: inline-block;
  margin: 20px 50px;
  padding-bottom: 7px;
  text-transform: capitalize;
  letter-spacing: 2px;
  border-bottom: 3px solid #00f;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #665e46), to(#FBE39A));
  background: linear-gradient(#665e46 5%, #FBE39A);
}

.line {
  color: #fff;
}

.register a:hover {
  text-decoration: underline;
}

/* ********************************** Start Profile **********************************/
.profile {
  margin-top: 260px;
}

.profile_info {
  margin-top: 239px;
}

.line {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.circle {
  width: 250px;
  height: 250px;
  background-color: #72694D;
  border: 4px solid #D9A404;
  border-radius: 50%;
  position: relative;
  left: 50%;
  top: -163px;
  -webkit-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile_img {
  border-radius: 50%;
  width: 220px;
  height: 220px;
}

.add_img {
  position: absolute;
  left: 204px;
  top: 178px;
}

.info {
  position: relative;
  top: -161px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info h4 {
  font-family: Montserrat, 'sans-serif';
  font-size: 1.6rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-weight: 600;
  padding: 8px 0px;
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: Oswald, 'sans-serif';
  transform: translateY(54%);
}

.details div:not(:last-child) {
  margin-right: 30px;
  padding-right: 20px;
  font-size: 1.1rem;
  border-right: 2px solid #D9A404;
  text-align: center;
}

.details div span {
  color: #D9A404;
  font-size: 1.3rem;
  letter-spacing: 1px;
  text-transform: capitalize;
}

hr {
  border: 3px solid #000;
  width: 100%;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card_container {
  width: 300px;
  height: 400px;
  background: #FFF;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 10px 1px #000;
          box-shadow: 0px 1px 10px 1px #000;
  overflow: hidden;
  display: inline-block;
  margin-top: 20px;
}

.upper_container {
  height: 120px;
  background: #7F00FF;
}

.image_container {
  background: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-transform: translate(95px, 55px);
          transform: translate(95px, 55px);
}

.image_container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.lower_container {
  height: 280px;
  background: #FFF;
  padding: 20px;
  padding-top: 50px;
  text-align: center;
  font-size: 1.2rem;
}

.lower_container h3,
h4 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: .6;
  font-weight: lighter;
}

.lower_container h4 {
  color: #7F00FF;
  opacity: .6;
  font-weight: bold;
  margin-top: 15px;
}

.lower_container p {
  font-size: 16px;
  color: gray;
  margin-bottom: 30px;
  margin-top: 20px;
}

.lower_container .btn {
  padding: 12px 20px;
  background: #7F00FF;
  border: none;
  color: white;
  border-radius: 30px;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.lower_container .btn:hover {
  background: transparent;
  color: #7F00FF;
  border: 2px solid #7F00FF;
}

/* ********************************** End Profile **********************************/
.Images__heading {
  margin-bottom: 20px;
}

.Images__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Images__photo {
  margin-right: 50px;
  /* border: 2px solid #a53352;
  padding: 5px; */
}

.Images__photo img {
  display: block;
  width: 250px;
  height: 340px;

  border: 2px solid #a53352;
  padding: 10px;
}

.Images__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.Images__btns button {
  width: 100px;
  background-color: #181303;
  color: #d9a404;
  border: none;
  margin-right: 10px;
  margin-bottom: 10px;
}

.Images__btns button:focus {
  outline: none;
}

.Images__update {
  margin-top: auto;
  display: block;
  margin-left: auto;
  margin-right: 65px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 1s;
}

.Images__update:hover{
  background-color: #fff;
  color: #181303 ;
}
/*# sourceMappingURL=Profile.module.css.map */