@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

body {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #665e46), to(#fbe39a));
	background: linear-gradient(#665e46 5%, #fbe39a);
	min-height: 120vh;
	font-family: Montserrat;
}

/* Sart Slider */
.carousel_control_prev,
.carousel_control_next {
	border: 3px solid #f20544;
	border-radius: 50%;
	background-color: #000;
	opacity: 0.8;
	height: 35px;
	width: 35px;
	top: 23vh;
	margin: 0 80px;
	padding: 5px;
	cursor: pointer;
}
.slider_container {
	overflow: hidden;
	/* border: 5px solid #000; */
}
.slider {
	margin-top: 50px;
	width: 120px;
	display: flex;
	/* border: 1px solid red; */
}

.slider a {
	text-decoration: none;
}

.slider img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	margin: 0px 20px;

	cursor: pointer;
}
.slider span {
	position: relative;
}
.slider span::before {
	content: "";
	border: 9px solid #ee4673;
	border-radius: 50%;
	position: absolute;
	bottom: 7px;
	right: 18px;
	cursor: pointer;
}

/* End slider */

/* ___________________________________________ */
.chat {
	margin: 120px auto;
}

.content {
	/* border: 2px solid #ffdf7e8f; */
	margin-top: 35px;
	border-radius: 7px;
	padding: 0;
	box-shadow: -4px -4px 10px #222, 10px 10px 10px #222;
}
.side_chat {
	border-right: 2px solid #e5b831;
}

/* Start search box */
.search_box {
	padding: 10px 13px;
}
.merge {
	border: 1px solid #e5b831;
	border-radius: 7px;
	padding: 5px 0px;
}
.search_box input {
	border: none;
	outline: none;
	width: 80%;
	background-color: transparent;
	color: #fff;
	padding-left: 7px;
}
.search_box input::placeholder {
	color: #fff;
	opacity: 0.8;
}
.search_box i {
	vertical-align: middle;
	margin-left: 7px;
	font-size: 1.6rem;
	cursor: pointer;
}
/* End search box */
/* Start Friends */
.friend,
.friend_header {
	display: flex;
	padding: 10px;
	transition: 0.3s ease;
}
.friend:hover {
	background-color: #ee4673;
	cursor: pointer;
}

.active {
	background-color: #ee4673;
}

.friend__img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.friend__text {
	margin-left: 12px;
	width: 70%;
}
.friend__text h6 {
	margin-top: 2px;
	margin-bottom: 5px;
	font-family: Oswald;
	font-size: 1.1rem;
	font-weight: 600;
}
.friend__text p {
	margin: 0;
	padding: 0;
	color: #222;
}
.time {
	margin-top: 6px;
	color: #fff;
}

hr {
	margin: 5px auto;
	width: 60%;
}
/* End Friends */
/* Start Right side */
.friend_header {
	background-color: #ffdf7e3a;
	padding-top: 5px;
	margin: 0;
	padding: 10px 0px 0px 10px;
}

.chat__bubble {
	padding: 10px 14px;
	margin: 10px 30px;
	border-radius: 9px;
	position: relative;
	width: max-content;
	/* animation: fadeIn 1s ease-in; */
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.right_chat {
	color: #e5b831;
	background-color: #222;
	clear: both;
}
.left_chat {
	color: #fff;
	background-color: #ee4673c7;
	float: right;
	clear: both;
}
.chat__bubble::after {
	content: "";
	position: absolute;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom: 0;
	margin-top: -10px;
}
.chat__bubble__left::after {
	left: 0;
	border-right-color: #222;
	border-left: 0;
	margin-left: -20px;
}
.chat__bubble__right::after {
	right: 0;
	border-left-color: #ee4673c7;
	border-right: 0;
	margin-right: -20px;
}
.chat_box {
	width: 100%;
	position: relative;
	bottom: 0;
	background-color: #ffdf7e3a;

	display: flex;
	align-items: center;
	padding: 10px 15px;
	margin-top: 19px;
}
.chat_box input {
	border: none;
	outline: none;
	background-color: transparent;
	width: 80%;
	padding-left: 25px;
	color: #222;
}
.chat_box input::placeholder {
	color: #333;
}
.chat_box i {
	font-size: 1.7rem;
	cursor: pointer;
	vertical-align: middle;
	margin-right: 20px;
}
/* End Right side */

/* Start Scrolling */
.chatting {
	max-height: 350px;
	overflow-y: auto;
}

.chatting::-webkit-scrollbar {
	width: 10px;
}

.chatting::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

.chatting::-webkit-scrollbar-thumb {
	background: #e5b831;
	border-radius: 10px;
}

.all_friends {
	max-height: 420px;
	overflow-y: auto;
}

.all_friends::-webkit-scrollbar {
	width: 5px;
}
.all_friends::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

.all_friends::-webkit-scrollbar-thumb {
	background: #e5b831;
	border-radius: 10px;
}
/* End Scrolling */
/* emoji */

.emoji {
	position: absolute;
	bottom: 62px;
}
.emojiOpen {
	position: absolute;
	bottom: 62px;
}
